.card {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.link {
  position: absolute;
  inset: 0;
  font-size: 0;
}

.gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0) 58.18%
  );
}

.image {
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.logoImage {
  position: absolute;
  inset-inline: 0;
  inset-block-end: 1rem;
  max-inline-size: 20rem;
  inline-size: 100%;
  block-size: auto;
  margin-inline: auto;
}
