.dropdownLink {
  display: inline-block;
  inline-size: 100%;
  padding: var(--button-padding);
}

@media (hover: hover) {
  .dropdownLink:is(:hover) {
    background-color: var(--tertiary-bg-color);
  }
}
