.detailsWrapper {
	--max-text-inline-size: 65ch;
	position: relative;
	margin-block-end: 50px;
}

.details {
	padding-inline: var(--inline-space);
	font-size: clamp(16px, 15.2px + 0.25vw, 20px);
}

.title {
	margin-block-end: 8px;
	font-size: clamp(28px, 23.6px + 1.375vw, 50px);
	line-height: normal;
}

.tagline {
	max-inline-size: var(--max-text-inline-size);
	margin-block-end: 12px;
	color: hsla(0, 0%, 100%, 0.7);
	font-style: italic;
}

.overview {
	max-inline-size: var(--max-text-inline-size);
	margin-block-end: 12px;
}

.badges,
.genres {
	display: flex;
	flex-wrap: wrap;
}

.badges {
	column-gap: 15px;
	margin-block-end: 20px;
	color: var(--secondary-text-color);
}

.genres {
	gap: 5px;
}

.genre {
	transition: color 200ms ease;
}

.genre:hover {
	color: var(--primary-text-color);
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-block-end: 20px;
}

.link {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.trailerButton {
	display: flex;
	align-items: center;
	column-gap: 10px;
	transition: opacity 200ms ease;
}

@media (hover: hover) {
	.trailerButton:hover {
		opacity: 0.5;
	}
}

.playIcon {
	padding: clamp(10px, 11.76px + -0.55vw, 1.2px);
	border-radius: 50%;
	background-color: var(--primary-color);
}

.trailerButton span {
	letter-spacing: 6px;
}

@media screen and (min-width: 967px) {
	.detailsWrapper {
		min-block-size: calc(100vh - var(--header-block-size));
	}

	.details {
		position: absolute;
		inset-block-end: var(--inline-space);
	}

	.title {
		max-inline-size: calc(100vw / 2.5);
		margin-block-end: 30px;
	}
}

@media (orientation: portrait) {
	.detailsWrapper {
		padding-block-start: 42vw;
	}
}

@media (orientation: landscape) {
	.detailsWrapper {
		padding-block-start: 20vw;
	}
}
