.menu {
	position: fixed;
	inset: var(--header-block-size) 0 0;
	padding-block: 12px;
	background-color: var(--secondary-bg-color);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: var(--menu-transition);
	overflow-y: auto;
}

.menu.open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: var(--menu-open-transition);
}

@media screen and (min-width: 880px) {
	.wrapper {
		position: relative;
	}

	.menu {
		position: absolute;
		inset: unset;
		inset-inline-end: 0;
		min-inline-size: 380px;
		max-inline-size: max-content;
	}
}
