.title {
  padding-inline-start: var(--inline-space);
  padding-block-end: 2.4rem;
}

.movieCard {
  --items-amount: 4;
  --card-width: calc(
    var(--screen-width) / var(--items-amount) - var(--carousel-items-gap)
  );
  min-inline-size: 15rem;
  inline-size: var(--card-width);
}

@media screen and (min-width: 880px) {
  .title {
    padding-block-start: 2.4rem;
  }

  .movieCard {
    --items-amount: 5;
  }
}

@media screen and (min-width: 1400px) {
  .movieCard {
    --items-amount: 6.5;
  }
}
