.btn {
  display: none;
}

@media (hover: hover) {
  .btn {
    --inline-size: clamp(4rem, 3.296rem + 1.408vw, 6rem);
    position: absolute;
    z-index: 1;
    inset-block: 0;
    display: none;
    justify-content: center;
    align-items: center;
    inline-size: var(--inline-size);
  }

  .btn:nth-of-type(2) {
    inset-inline-end: 0;
  }

  .btn.shadowHover {
    --gradient-dir: to left;
    --gradient: linear-gradient(
      var(--gradient-dir),
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.502) calc(var(--inline-size) / 2),
      hsla(0, 0%, 0%, 0.702)
    );
    background: var(--gradient);
    transition: background 300ms ease-in-out;
  }

  .btn.shadowHover::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--gradient);
    opacity: 0;
    transition: opacity 150ms ease;
  }

  .btn.shadowHover:is(:hover)::before {
    opacity: 1;
  }

  .btn.shadowHover:nth-of-type(2) {
    --gradient-dir: to right;
  }

  .hideBtn {
    display: none !important;
  }

  .btn.scaleHover {
    overflow: hidden;
  }

  .btnArrowIcon {
    inline-size: 4rem;
    block-size: 4rem;
  }

  .btn.scaleHover .btnArrowIcon {
    transition: transform 150ms ease;
  }

  .btn.scaleHover:is(:hover) .btnArrowIcon {
    transform: scale(1.4);
  }
}
