.noImage {
  background-color: hsl(0, 0%, 87%);
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 2 / 3;
  border-radius: var(--border-radius);
  background-size: 50%;
}

.profile {
  background-image: url(/images/svg/profile-no-image.svg);
}

.movie {
  background-image: url(/images/svg/movie-no-image.svg);
}
