.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  inline-size: 13rem;
}

.image {
  inline-size: 100%;
  height: auto;
}

.data {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  font-size: var(--secondary-font-size);
}

.name {
  font-weight: 500;
}
