.image {
  inline-size: 100%;
  block-size: auto;
  border-radius: var(--border-radius);
}

.info {
  padding-block-start: 1rem;
  font-size: var(--secondary-font-size);
}

.name {
  font-weight: 500;
}

.characterName {
  color: var(--secondary-text-color);
}
