.card {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.image {
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.info {
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  font-size: var(--secondary-font-size);
}

.name {
  font-weight: 500;
}
