.menuTrigger {
	vertical-align: middle;
}

.searchMenu {
	position: fixed;
	inset: var(--header-block-size) 0 0;
	background-color: var(--secondary-bg-color);
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: var(--menu-transition);
}

.searchMenu.open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: var(--menu-open-transition);
}

@media screen and (min-width: 880px) {
	.wrapper {
		flex: 1;
		max-inline-size: 450px;
	}

	.menuTrigger {
		display: none;
	}

	.searchMenu {
		all: revert;
		position: relative;
	}
}
