.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: hsl(var(--bg-color-hsl) / 0.5);
  backdrop-filter: grayscale(100%) blur(0.6rem);
}

.closeModalBtn {
  position: absolute;
  inset-block-start: 2rem;
  inset-inline-end: 2rem;
  border-radius: var(--border-radius);
  padding: 0.4rem;
}

@media (hover: hover) {
  .closeModalBtn:is(:hover) {
    background-color: var(--secondary-bg-color);
  }
}

.trailerFrame {
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 16 / 9;
  border: 0.1rem solid var(--secondary-bg-color);
}

@media (orientation: landscape) {
  .trailerFrame {
    max-inline-size: 68vw;
  }

  .modal {
    padding-block: 5rem;
    overflow: auto;
  }
}
