.filtersBtn {
  inline-size: 100%;
  padding-block: 1rem;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
}

.filtersMenu {
  position: fixed;
  inset: 0;
  z-index: 10;
  padding-block-end: 8.5rem;
  background-color: var(--bg-color);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
}

.showMenu {
  opacity: 1;
  visibility: visible;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem var(--inline-space);
  font-weight: 500;
  border-block-end: 0.1rem solid var(--hover-color);
}

.genreBtn {
  inline-size: 100%;
  padding: var(--button-padding);
  text-align: start;
}

.closeBtnWrapper {
  position: fixed;
  inset-block-end: 0;
  inset-inline: 0;
  padding: 2rem var(--inline-space);
  background-color: var(--bg-color);
  border-block-start: 0.1rem solid var(--hover-color);
}

.closeBtn {
  inline-size: 100%;
  padding-block: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 880px) {
  .filtersBtn,
  .header,
  .closeBtnWrapper {
    display: none;
  }

  .filtersMenu {
    position: static;
    inset: unset;
    z-index: unset;
    padding-block-end: unset;
    overflow-y: unset;
    opacity: unset;
    visibility: unset;
    transition-duration: unset;
    transition-property: unset;
    transition-timing-function: unset;
    background-color: unset;
  }

  .genreBtn:is(:hover) {
    background-color: var(--tertiary-bg-color);
  }
}
