:root {
  --primary-color-hsl: 352 99% 41%;
  --bg-color-hsl: 0 0% 0%;
  --secondary-bg-hsl: 0 0% 10%;
  --text-color-hsl: 0 0% 100%;
  --hover-color-hsl: 0 0% 25%;

  --primary-color: hsl(352, 99%, 41%);
  --bg-color: hsl(0, 0%, 0%);
  --secondary-bg-color: hsl(0, 0%, 10%);
  --text-color: hsl(0, 0%, 100%);
  --hover-color: hsl(0, 0%, 25%);
}
