:root {
  --primary-color-hsl: 352 99% 41%;
  --secondary-color-hsl: 21, 94% 43%;
  --bg-color-hsl: 0 0% 0%;
  --secondary-bg-color-hsl: 214 85.26% 53%;
  --tertiary-bg-color-hsl: 0 0% 22%;
  --primary-text-color-hsl: 0 0% 100%;
  --secondary-text-color-hsl: 0 3% 64%;
  --hover-color-hsl: 0 0% 25%;

  --primary-color: hsl(352, 99%, 41%);
  --secondary-color: hsl(214, 85.26%, 53%);
  --bg-color: hsl(0, 0%, 0%);
  --secondary-bg-color: hsl(0, 0%, 10%);
  --tertiary-bg-color: hsl(0, 0%, 22%);
  --primary-text-color: hsl(0, 0%, 100%);
  --secondary-text-color: hsl(0, 3%, 64%);
  --hover-color: hsl(0, 0%, 25%);

  --border-radius: 0.8rem;
  --inline-space: 1.6rem;
  --header-block-size: 6.7rem;
  --menu-transition: transform 100ms, opacity 100ms cubic-bezier(0, 0, 0.25, 1),
    visibility 0s linear 100ms;
  --menu-open-transition: transform 200ms,
    opacity 0.2ms cubic-bezier(0, 0, 0.25, 1), visibility 0ms;
  --carousel-items-gap: clamp(1.2rem, 0.566rem + 1.268vw, 3rem);
  --screen-width: 100vw;

  color-scheme: dark;
}

@media screen and (min-width: 880px) {
  :root {
    --inline-space: 6rem;
  }
}

body {
  font-size: clamp(1.6rem, 1.53rem + 0.141vw, 1.8rem);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.__next {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  height: inherit;
}

main {
  flex-grow: 1;
}

.hideOverflow {
  overflow: hidden;
}

.showMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--menu-open-transition);
}
