:root {
  --primary-color-hsl: 352 99% 41%;
  --secondary-color-hsl: 214 85.26% 53%;
  --bg-color-hsl: 0 0% 6%;
  --secondary-bg-color-hsl: 0 0% 10%;
  --tertiary-bg-color-hsl: 0 0% 25%;
  --card-bg-color-hsla: 240 7% 15%;
  --primary-text-color-hsl: 0 0% 100%;
  --secondary-text-color-hsl: 0 3% 64%;

  --primary-color: hsl(352, 99%, 41%);
  --secondary-color: hsl(214, 85.26%, 53%);
  --bg-color: hsl(0, 0%, 6%);
  --secondary-bg-color: hsl(0, 0%, 10%);
  --tertiary-bg-color: hsl(0, 0%, 25%);
  --card-bg-color: hsl(240, 7%, 15%);
  --primary-text-color: hsl(0, 0%, 100%);
  --secondary-text-color: hsl(0, 3%, 64%);

  --primary-font-size: clamp(16px, 15.3px + 0.141vw, 18px);
  --secondary-font-size: clamp(14px, 13.6px + 0.125vw, 16px);
  --border-radius: 8px;
  --inline-space: clamp(20px, 10.29px + 2.589vw, 60px);
  --header-block-size: 61px;
  --footer-block-size: 127px;
  --menu-transition: transform 100ms, opacity 100ms cubic-bezier(0, 0, 0.25, 1),
    visibility 0s linear 100ms;
  --menu-open-transition: transform 200ms,
    opacity 0.2ms cubic-bezier(0, 0, 0.25, 1), visibility 0ms;
  --carousel-items-gap: clamp(12px, 5.66px + 1.268vw, 30px);
  --button-padding: 12px var(--inline-space);
  --content-block-size: calc(
    100dvh - var(--footer-block-size) - var(--header-block-size)
  );

  color-scheme: dark;
}

html:not(:has(.isFullScreen)) {
  scrollbar-gutter: stable;
}

::selection {
  background-color: hsl(var(--secondary-color-hsl) / 0.4);
}

::-webkit-scrollbar {
  inline-size: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 67%);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 44%);
}

body {
  font-size: var(--primary-font-size);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.__next {
  isolation: isolate;
}

.hideOverflow {
  overflow: hidden;
}

.carouselMovieCardWidth {
  --items-amount: 4;
  --card-width: calc(100vw / var(--items-amount) - var(--carousel-items-gap));
  min-inline-size: 150px;
  inline-size: var(--card-width);
}

@media screen and (min-width: 880px) {
  :root {
    --button-padding: 12px 16px;
  }

  .carouselMovieCardWidth {
    --items-amount: 5.5;
  }
}

@media screen and (min-width: 1500px) {
  .carouselMovieCardWidth {
    --items-amount: 6.5;
  }
}
