.carouselMovieCardWidth {
	--items-amount: 4;
	--card-width: calc(100vw / var(--items-amount) - var(--carousel-items-gap));
	min-inline-size: 150px;
	inline-size: var(--card-width);
}

@media screen and (min-width: 1500px) {
	.carouselMovieCardWidth {
		--items-amount: 6.5;
	}
}

@media screen and (min-width: 880px) {
	.carouselMovieCardWidth {
		--items-amount: 5.5;
	}
}
