.card {
  position: relative;
}

.wrapperLink {
  position: absolute;
  inset: 0;
  font-size: 0;
  border-radius: var(--border-radius);
  outline-offset: 0.2rem;
}

.movieImage {
  inline-size: 100%;
  block-size: auto;
  border-radius: var(--border-radius);
  line-height: 0;
  pointer-events: none;
}

.title {
  margin-block-start: 0.8rem;
}

.year {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
}

.cardInfo {
  display: none;
}

@media (hover: hover) {
  .cardInfo {
    position: absolute;
    inset: 0;
    display: block;
    padding: 1rem;
    font-size: var(--secondary-font-size);
    background-color: hsl(225, 100%, 3%);
    border-radius: var(--border-radius);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 200ms ease;
  }

  .card:is(:hover) > .cardInfo {
    opacity: 1;
  }

  .overview {
    --max-lines: 6;
    display: -webkit-box;
    max-block-size: calc(var(--max-lines) * 2.4rem);
    word-wrap: break-word;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }

  .bgMovieImage {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    filter: blur(0.5rem);
    opacity: 0.5;
    transform: scale(1.3);
  }
}
