.results {
  block-size: calc(100vh - 13.5rem);
  overflow-y: auto;
}

.resultLink {
  display: block;
  padding: var(--button-padding);
  font-size: 1.6rem;
  text-transform: lowercase;
}

.selectedOption {
  background-color: var(--tertiary-bg-color);
}

@media (hover: hover) {
  .resultLink:is(:hover) {
    background-color: var(--tertiary-bg-color);
  }
}

@media screen and (min-width: 880px) {
  .results {
    position: absolute;
    inset-block-start: 110%;
    inset-inline: 0;
    block-size: unset;
    padding-block: 1rem;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    overflow-y: unset;
  }
}
