.skeleton {
	border-radius: 4px;
	background: linear-gradient(100deg, transparent 40%, hsl(0, 0%, 30%) 50%, transparent 60%)
		var(--secondary-bg-color);
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1s shine ease-in-out infinite;
}

@keyframes shine {
	to {
		background-position-x: -30%;
	}
}
