.container {
	display: grid;
	justify-items: center;
	align-content: center;
	block-size: var(--content-block-size);
}

.title {
	font-size: clamp(150px, 140px + 3.125vw, 200px);
	line-height: 1;
}

.goBackHomeLink {
	padding: 12px 28px;
	margin-block-start: 24px;
	font-weight: 500;
	background-color: var(--primary-text-color);
	color: var(--bg-color);
	border-radius: var(--border-radius);
}

.goBackHomeLink:hover {
	filter: brightness(0.9);
}
