.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

.title {
  font-size: clamp(15rem, 14rem + 3.125vw, 20rem);
  line-height: normal;
}

.goBackHomeLink {
  display: block;
  padding: 1.5rem 6rem;
  margin-block-start: 3rem;
  background-color: var(--primary-text-color);
  color: var(--bg-color);
  border-radius: var(--border-radius);
  font-weight: 500;
}

@media (hover: hover) {
  .goBackHomeLink:is(:hover) {
    filter: brightness(0.9);
  }
}
