.container {
	display: grid;
	justify-items: center;
	align-content: center;
	block-size: var(--content-block-size);
}

.title {
	font-size: clamp(150px, 140px + 3.125vw, 200px);
	line-height: 1;
}

.goHomeLink {
	margin-block-start: 24px;
	font-weight: 500;
}
