.searchBarWrapper {
  display: flex;
  align-items: center;
  max-inline-size: 45rem;
  inline-size: 100%;
  padding-inline-start: var(--inline-space);
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
}

.searchBarWrapper:focus-within {
  outline: 0.1rem solid var(--secondary-color);
}

.searchBar {
  inline-size: 100%;
  background-color: transparent;
  border: none;
  padding: 1.2rem var(--inline-space);
  outline: none;
}
