.wrapper {
  flex: 0 0 var(--header-block-size);
}

.header {
  position: fixed;
  z-index: 5;
  inset-inline: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem var(--inline-space);
  background-color: var(--bg-color);
}

.searchLink {
  margin-left: auto;
}
