.wrapper {
  position: relative;
  flex: 0 0 var(--header-block-size);
}

.header {
  position: fixed;
  z-index: 5;
  inset-inline: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  block-size: var(--header-block-size);
  padding-inline: var(--inline-space);
  background-color: var(--bg-color);
}

.goHomeBtn {
  color: var(--primary-color);
  transition: color 200ms ease;
}

@media (hover: hover) {
  .goHomeBtn:is(:hover) {
    color: var(--primary-text-color);
  }
}

.navMenu {
  order: -1;
}

.searchMenu {
  margin-inline-start: auto;
}

@media screen and (min-width: 880px) {
  .navMenu {
    order: initial;
  }

  .searchMenu {
    flex: 1;
    max-inline-size: 45rem;
  }
}
