.carouselWrapper {
  position: relative;
}

.carousel {
  display: flex;
  padding-inline: var(--inline-space);
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.item {
  max-inline-size: 100%;
  flex-shrink: 0;
  list-style: none;
  scroll-margin-inline-start: var(--inline-space);
}

.itemSnapPoint {
  scroll-snap-align: start;
}

.itemScrollSnapStopAlway {
  scroll-snap-stop: always;
}

.btn {
  display: none;
}

@media (hover: hover) {
  .btn {
    --inline-size: clamp(4rem, 3.296rem + 1.408vw, 6rem);
    --gradient-dir: to left;
    --gradient: linear-gradient(
      var(--gradient-dir),
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.502) calc(var(--inline-size) / 2),
      hsla(0, 0%, 0%, 0.702)
    );
    position: absolute;
    z-index: 1;
    inset-block: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: var(--inline-size);
    background: var(--gradient);
    transition: background 300ms ease-in-out;
  }

  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--gradient);
    opacity: 0;
    transition: opacity 150ms ease;
  }

  .btn:is(:hover)::before {
    opacity: 1;
  }

  .btn:nth-of-type(2) {
    --gradient-dir: to right;
    inset-inline-end: 0;
  }

  .hideBtn {
    display: none;
  }
}

.paginationWrapper {
  --padding-block: 2rem;
  --pagination-block-size: 2.4rem;
  min-block-size: calc(var(--padding-block) * 2 + var(--pagination-block-size));
}

.pagination {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.paginationBtn {
  padding: 0.8rem 0.6rem;
  flex-basis: 4rem;
  transition: flex-basis 300ms ease;
}

.paginationPill {
  inline-size: 100%;
  block-size: 0.8rem;
  background-color: var(--hover-color);
  border-radius: 0.4rem;
}

.paginationBtnActive {
  flex-basis: 5.6rem;
}

.paginationBtnActive > .paginationPill {
  background-color: var(--primary-color);
}
