.container {
  --grid-container-columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--grid-container-columns), minmax(0, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
}

@media only screen and (min-width: 550px) {
  .container {
    --grid-container-columns: 3;
  }
}

@media screen and (min-width: 880px) {
  .container {
    --grid-container-columns: 4;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    --grid-container-columns: 5;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    --grid-container-columns: 6;
  }
}

.observerTarget {
  width: 100%;
  height: 100px;
  /* height: 1rem;
  width: 100%;
  background-color: red; */
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-inline: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
