.labelBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  padding: 1.2rem 1.6rem;
}

.chevronArrow {
  transition: transform 100ms cubic-bezier(0, 0, 0.25, 1);
}

.rotateArrow {
  transform: rotate(-180deg);
}

.submenu {
  max-block-size: 0;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
}

.submenuOpen {
  max-block-size: max-content;
}

@media screen and (min-width: 880px) {
  .labelBtn {
    justify-content: initial;
    inline-size: unset;
    padding: unset;
    gap: 0.8rem;
  }

  .submenu {
    position: absolute;
    inset-block-start: 100%;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: transform 100ms, opacity 100ms cubic-bezier(0, 0, 0.25, 1),
      visibility 0s linear 100ms;
    background-color: var(--bg-color);
  }

  .submenu li {
    list-style: none;
  }

  .submenuOpen {
    max-block-size: max-content;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 200ms, opacity 0.2ms cubic-bezier(0, 0, 0.25, 1),
      visibility 0ms;
  }
}
