.menuTrigger {
	display: flex;
	align-items: center;
	gap: 0 8px;
}

.content {
	position: fixed;
	inset: var(--header-block-size) 0 0;
	padding-block: 12px;
	background-color: var(--secondary-bg-color);
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: var(--menu-transition);
}

.content[data-state="open"] {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: var(--menu-open-transition);
}

.header {
	display: flex;
	align-items: center;
	gap: 0 12px;
	padding: 8px 16px;
	margin-block-end: 12px;
}

.name {
	font-weight: 500;
	font-size: 20px;
}

.optionBtn {
	display: flex;
	gap: 0 16px;
	inline-size: 100%;
	font-size: 16px;
}

.mainOptions {
	padding-block: 12px;
	border-block: 1px solid var(--tertiary-bg-color);
}

@media screen and (max-width: 880px) {
	.menuTrigger {
		padding-inline: 8px;
	}
}

@media screen and (min-width: 880px) {
	.wrapper {
		position: relative;
	}

	.content {
		position: absolute;
		inset: unset;
		inset-inline-end: 0;
		min-inline-size: 380px;
		max-inline-size: max-content;
	}
}
