.actionButton {
  inline-size: 3.2rem;
  block-size: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hsl(var(--primary-text-color-hsl) / 0.1); */
  border-radius: 50%;
}
