.toolTip {
  position: absolute;
  background-color: var(--primary-text-color);
  color: var(--bg-color);
  padding: 6px 14px;
  border-radius: 4px;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  transform-origin: top;
}

.showTooltip {
  animation: scaleIn 250ms ease-out forwards 50ms;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
