.button {
	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: var(--size);
	block-size: var(--size);
	background-color: hsl(var(--primary-text-color-hsl) / 0.1);
	border-radius: 50%;
	transition-property: transform, background-color;
	transition-duration: 200ms;
	will-change: transform;
}

.size_small {
	--size: 38px;
}

.size_default {
	--size: clamp(45px, 42px + 0.938vw, 60px);
}

@media (hover: hover) {
	.button:hover {
		transform: scale(1.05);
		background-color: hsl(var(--primary-text-color-hsl));
		color: var(--bg-color);
	}
}

.button:active {
	transform: scale(0.95);
}
