.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--size);
  block-size: var(--size);
  background-color: hsl(var(--primary-text-color-hsl) / 0.1);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  transition-property: transform, background-color;
  transition-duration: 200ms;
}

.small {
  --size: 3.5rem;
}

.medium {
  --size: clamp(4.5rem, 4.2rem + 0.938vw, 6rem);
}

@media (hover: hover) {
  .iconButton:is(:hover) {
    transform: scale(1.1);
    background-color: hsl(var(--primary-text-color-hsl));
    color: var(--bg-color);
  }
}
