.badges,
.genres {
  display: flex;
  flex-wrap: wrap;
}

.badges {
  column-gap: 15px;
  margin-block-end: 20px;
  color: var(--secondary-text-color);
}

.genres {
  gap: 5px;
}

.genre {
  transition: color 200ms ease;
}

.genre:hover {
  color: var(--primary-text-color);
}