.container {
	padding-inline: var(--inline-space);
}

.title {
	inline-size: 130px;
	block-size: 54px;
	margin-block: 24px;
}

.hero {
	block-size: auto;
	aspect-ratio: 16 / 9;
}

.carousel {
	display: flex;
	column-gap: var(--carousel-items-gap);
	overflow-x: hidden;
}

.movieCard {
	block-size: auto;
	aspect-ratio: 2 / 3;
}

@media screen and (min-width: 880px) {
	.hero {
		aspect-ratio: 3 / 1;
	}
}
