.title {
  padding-inline-start: var(--inline-space);
  padding-block-end: 2.4rem;
}

.carouselSection {
  margin-block-end: 3rem;
}

@media screen and (min-width: 880px) {
  .title {
    padding-block-start: 2.4rem;
  }

  .carouselSection {
    margin-block-end: 5rem;
  }
}
